.cards-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0.5rem;
  width: 100%;
}

.card-box {
  margin: 0.8rem;
  margin-bottom: 2rem;
  position: relative;
}

.swiper-container {
  height: 280px;
  width: 280px;
  overflow: hidden;
}

.card-img {
  height: 280px;
  width: 280px;
  object-fit: cover;
  border-radius: 1rem;
}

.card-info-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 3rem;
}

.card-rating {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

p {
  font-size: 0.92rem;
}

.hover-effect {
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.hover-effect:hover {
  transform: scale(1.05);
}


.card-box .swiper-pagination-bullet-active {
  background-color: var(--white) !important;
}

.favorite-button {
  position: absolute;
  top: 3%;
  right: 0;
  z-index: 999;
  background: transparent;
  color: #fff;
  overflow: hidden;
}

.card-box .swiper-button-prev,
.card-box .swiper-button-next {
  background-color: transparent !important;
  top: 50% !important; 
  opacity: 0;  
  transition: opacity 0.3s;
  height: 2rem !important;
  margin-top: 0 !important;
  z-index: 999 !important;
}

.card-box .swiper-button-prev::after,
.card-box .swiper-button-next::after {
  background-image: none !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
  /* background-color: var(--white) !important; */
}


@media only screen and (max-width: 1000px) {
  .swiper-container,
  .card-img {
    height: 400px;
    width: 40vw;
  }
}

@media only screen and (max-width: 800px) {
  .swiper-container,
  .card-img {
    height: 50%;
    max-height: 400px;
    width: 80vw;
  }

  .cards-flex {
    padding: 0px;
  }
}
