.filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  gap: 1.4rem;
  left: 0;
  z-index: 9999;
  background-color: var(--white);
}

.cover.scrolled::before {
  position: absolute;
  content: "";
  left: 1.7rem;
  top: 15%;
  z-index: 9;
  pointer-events: none;
  width: 1.5rem;
  height: 70%;
  background-image: linear-gradient(90deg, white, transparent);
  display: none;
}

.cover.scrolled::after {
  position: absolute;
  content: "";
  right: 0;
  top: 15%;
  z-index: 99;
  width: 1.5rem;
  height: 70%;
  background-image: linear-gradient(-90deg, white, transparent);
  display: none;
}

.filter-div {
  border-top: 1px solid var(--grey);
  padding: 1rem;
  padding-top: 1.5rem;
  /* padding: 1rem 0rem; */
  margin: 0;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  width: 100%;
  position: relative;
  scroll-behavior: smooth;
}

.links-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  transition: opacity 0.2s ease-out;
  padding: 4px 0 0;
  margin: 0.75rem 0 0 0.7rem;
  border-bottom: 2px solid var(--white);
  cursor: pointer;
  width: max-content;
}

.links-box:hover,
.selected-box {
  opacity: 1;
  border-bottom: 2px solid var(--black);
  transition: all 0.3s;
  cursor: pointer;
}

.links-img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
}

.links-label {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--font-grey);
  white-space: nowrap;
}

.selected-label {
  color: var(--black);
}


.swiper-button-next,
.swiper-button-prev {
  background-color: var(--white);
  top: 20%;
  position: absolute;
  right: 0rem;
  z-index: 100;
  height: 5rem;
  width: 2rem;
  display: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  border: 1px solid var(--font-grey);
  border-radius: 50%;
  padding: 0.5rem 0.65rem;
  position: absolute;
  background-color: var(--white);
  top: 45%;
  background-image: linear-gradient(white, white);
  font-weight: 900;
  z-index: 100;
}

.swiper-button-disabled {
  display: none;
}

.filter-btn {
  display: none;
}



@media only screen and (min-width: 320px) {
.filter-container {
  top: 4.3rem;
}

.cover {
  position: relative;
  width: 87.5%;
  margin-left: 0;
}

.filter-div .swiper-container {
    width: 320px;
  }
}

@media only screen and (min-width: 800px) {
  .filter-container {
    top: 5.5rem;
  }

.cover {
  position: relative;
  width: 84.5%;
  margin-left: 4rem;
}

  .filter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid var(--grey);
    border-radius: 0.7rem;
    gap: 0.5rem;
    height: 3rem;
    background-color: var(--white);
    flex: 1 0 3rem;
    margin-left: 1.5rem;
    margin-right: 4rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }

  .cover.scrolled::before,
  .cover.scrolled::after {
    display: block;
  }

  .filter-div .swiper-container {
    width: 800px;
  }

  .swiper-button-disabled {
    display: none;
  }
}