@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

:root {
  --black: #000;
  --grey: #ddd;
  --font-grey: hsl(0, 0%, 40%);
  --dark-grey: hsl(0, 0%, 5%);
  --white: #ffffff;
  --theme: #ff385c;
  --light-grey: #f7f7f7;
  --swiper-theme-color: #000 !important;
  --swiper-navigation-size: 0.6rem !important;
}

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: relative;
}
